* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

section {
    margin: 80px 0;
}

body {
    background: black;
}

.return-top {
    position: fixed;
    top: 80%;
    left: 90%;
    font-size: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #82d3ff;
    color: #000000;
    z-index: 100;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-shadow: 0 0 10px #82d3ff;
    color: white;
    background: black;
    z-index: 10;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.links a {
    color: white;
}

.links a:nth-child(1) {
    color: #82d3ff;
    text-shadow: 0 0 20px #8deaff, 0 0 30px white;
}

.links a:nth-child(2) {
    color: #f4ff90;
}

.links a:nth-child(3) {
    color: #fd6eff;
}

.top {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 8;
}

.catch-copy {
    position: absolute;
    top: 200px;
    left: 100px;
    color: white;
    font-size: 50px;
    z-index: 9;
}

.top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.top img:nth-child(1) {
    animation: anima1 10s infinite;
}

.top img:nth-child(2) {
    animation: anima2 10s infinite;
}

.top img:nth-child(3) {
    animation: anima3 10s infinite;
}

@keyframes anima1 {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes anima2 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
}

@keyframes anima3 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.title {
    width: 85%;
    font-weight: bold;
    font-size: 40px;
    padding: 0 30px;
    color: #82d3ff;
    border-bottom: 1.5px solid #82d3ff;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    color: #000000;
    background: #82d3ff;
    transition: .3s;
}

.btn:hover {
    scale: 1.1;
}

.company-intr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-center {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-top: 50px;
}

.company-img {
    height: 200px;
}

.company-text {
    color: white;
    line-height: 3;
}

.game-intr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 550px; */
    color: white;
}

.above {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 50px;
}

.game-text {
    line-height: 3.5;
}

.other-intr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.other-images {
    display: flex;
    justify-content: space-evenly;
}

.other-images img {
    height: 200px;
    margin: 40px;
}

footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
}


@media screen and (max-width: 418px) {
    .return-top {
        top: 85%;
        left: 80%;
        width: 60px;
        height: 60px;
        font-size: 30px;
    }

    header {
        padding: 0 40px;
    }

    .links {
        flex-direction: column;
        width: 100px;
    }

    section {
        margin: 30px 0;
    }

    .top {
        height: 270px;
    }

    .catch-copy {
        top: 70px;
        left: 20px;
        font-size: 40px;
    }

    .company-center {
        flex-direction: column;
        margin: 20px 0;
    }

    .company-text {
        line-height: 1.5;
        margin-top: 20px;
    }

    .above {
        flex-direction: column;
        width: 90%;
    }

    .game-text {
        margin: 20px;
        line-height: 1.5;
    }

    .game-img {
        height: 200px;
    }

    .above {
        margin: 20px;
    }

    .other-images {
        flex-direction: column;
    }

    .other-images img {
        height: auto;
        width: 80%;
    }
}